#ed_table_menu {display: none; position:absolute; top:0px; left:0px}
#ed_table_menu table {border: 1px solid; border-collapse: separate;
		      width: 50px; background-color: #FFFFFF; border-spacing: 3px}
#ed_table_menu tr td.active {background-color: #E3E9FF}
#ed_table_menu tr td {margin-right: 10px;
		      border: 1px solid; height:1px; width: 1px;
			      border-color: black}
#ed_table_menu tr td.inactive {background-color: #DDDDDD}
#ed_table_menu table {margin: 0; border:1 px solid black; width:100%;}
#ed_table_menu caption {background-color: #FFFFFF; border: 1px solid; 
			height: 30px; }
#ed_main {; height:100%; width:100%}
#ed_menu {margin-top: 65px; position:fixed; top:40px; left:0px; width:100%; background-color: #F2F1F0; height: 40px; border: 1px solid;}
.ed_menu_icon {text-decoration:  none; width:30px; height:30px; margin-top: 5px; margin-right:5px}
.ed_documentarea {width: 816px; height: 1056px; background-color:#FFFFFF; margin-left: auto; margin-right: auto; border:1px solid; margin-top: 10px; display:none; }
#ed_cursor {text-decoration: blink; font-size: 30px}
.droppable {clear:both; height: 25px; border-width: 1px; 
	    background: url(/public/images/ed_arrow_right_small.png) top left no-repeat;
	    margin-left: -50px;
	   background-size:20px 20px; width: 100%}
.dr_active {border-radius: 10px; border-style: dashed; background-color: #FFFFFF; height: 50px; display:block; background: url(/public/images/ed_arrow_right.png) top left no-repeat; width: 100%}
.ed_area {width:100px; min-height: 100px}
.ed_title .ed_area { border:0; cursor:text; width: 100%; resize:none; font-weight: bold; font-size:23px; text-align:center}
.ed_paragraph .ed_area {border:0; cursor:text; width: 100%; resize:none; font-size:15px;}
.ed_delete {cursor: pointer; margin-left: -50px;float: left; width:30px; height:30px}
.ed_switch {cursor: pointer; margin-left: -80px;float: left; width:30px; height:30px;
	   }
.ed_switch_dialog {cursor: pointer; background-color: white;
		   border: 1px solid; position:absolute; top:200px; left:200px; visibility:hidden}
ul {list-style-type: circle; padding-left: 0; margin-left: 40px;}
li {/*background: url(/public/images/ed_bullet.png) left center no-repeat*/ list-style-type: none; padding-right: 30px}
.ed_area {float:left}
.ed_popup {margin-right: 15px;border: 10px solid;
	   position:absolute; width: 100%; height:675px; top: 50px;
	   overflow:hidden; left: -30px; display:none; border-radius: 10px;}
.ed_frame {width:100%; height: 100%; margin-left: 45px}
#ed_textzone {margin-top: 80px}
#drag_elm {position:absolute; z-index:5}
.ed_menu_spacer {float : left}