#ed_table_menu {
	display: none;
	position:absolute;
	top:0px; 
	left:0px
}

#ed_table_menu table {
	border: 1px solid;
	border-collapse: separate;
	width: 50px !important;
	background-color: #FFFFFF;
	border-spacing: 3px
}

#ed_table_menu tr td.active {
	background-color: #E3E9FF
}

#ed_table_menu tr td {
	margin-right: 10px;
	border: 1px solid;
	height:1px;
	width: 1px;
	border-color: black
}

#ed_table_menu tr td.inactive {
	background-color: #DDDDDD
}

#ed_table_menu table {
	margin: 0; border:1 px solid black; width:100%;
}

#ed_table_menu caption {
	background-color: #FFFFFF;
	border: 1px solid; 
	height: 30px;
}

#ed_main {
	height:100%;
	width:100%;
}
#ed_menu2 {
	margin-top: 65px;
	position:fixed;
	top:40px;
	right:0px;
	width: 50px;
	background-color: #F2F1F0;	
	border: 1px solid;
}

#ed_menu {
	margin-top: 210px;
	position: fixed;
	float: right;
	top:40px;
	width: 50px;
	background-color: white;	
	border: 1px solid #BDBDBD;
	border-radius: 10px;
	padding: 5px;
	z-index: 1000;
}

.ed_menu_icon {
	text-decoration:  none;
	padding: 5px;
	width: 40px;
	cursor: pointer;
}
.ed_documentarea {
	width: 816px;
	background-color:#FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border:1px solid;
	margin-top: 10px;
	min-height: 250px;
	border: 1px solid #BDBDBD;
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
}

#ed_cursor {
	text-decoration: blink;
	font-size: 30px;
}

.droppable {
	clear:both;
	height: 25px;
	border: 1px dashed gray;
	background: #FAFAFA;
	margin: 2px;
}

.dr_active {
	clear:both;
	height: 40px;
	border: 1px dashed gray;
	background: #FGFGFG;
	margin: 2px;
}

.ed_area {
	width:100px;
	min-height: 100px;
}

.ed_title .ed_area {
	border:0;
	cursor:text;
	width: 100%;
	resize:none;
	font-weight: bold;
	font-size:23px;
	text-align:center;
}

.ed_paragraph .ed_area {
	border: 1px solid #BDBDBD;
	cursor:text;
	width: 99%;
	resize:none;
	font-size:15px;
	margin: 2px;
	padding: 2px;
}

.ed_delete {
	cursor: pointer;
	float: right;
	margin-right: -25px;
	width:20px;
	height:20px;
}

.ed_switch {
	cursor: pointer;
	margin-left: -80px;
	float: left;
	width:30px;
	height:30px;
}

.ed_switch_dialog {
	cursor: pointer;
	background-color: white;
	border: 1px solid;
	position:absolute;
	top:200px;
	left:200px;
	visibility:hidden;
}

ul {
	list-style-type: circle;
	padding-left: 0;
	margin-left: 40px;
}

li {
	/*background: url(/public/images/ed_bullet.png) left center no-repeat*/
	list-style-type: none;
	padding-right: 30px;
}

.ed_area {
	float:left;
}

.ed_popup {
	border-left: 1px solid black;
	border-right: 1px solid black;
	width: 80%;
	position: absolute;
	left: 10%;
	margin: 0px auto;
	overflow: hidden;
	display:none;
	z-index: 1025;
	background: white;
}

.ed_frame {
	width:100%;
	height: 100%;
}

#ed_textzone {
	margin-top: 60px;
	position: relative;
}

#drag_elm {
	position:absolute;
	z-index:5;
}
.ed_menu_spacer {
	float : left;
}

#doc_name_change{
	margin: 0px auto;
	width: 50%;
	padding: 15px;
	font-size: 22px;
	border-radius: 10px 0px 0px 10px
}

.draggable{
	cursor: move;
}