.ico {width:10px}
.titre { width:500px;}
.nombremessages { width:150px; }
.nombrevu { width:10px; }
.nombresujets { width:10px; }
.auteur { width:10px; }
.derniermessage { width:250px; }
.categorie { width:20px; background-color : rgb(244,238,250); }

.titre2{ width:500px;background-color: lavender;}
.nombremessages2 { width:150px; background-color: lavender;}
.nombrevu2 { width:10px; background-color: lavender;}
.nombresujets2 { width:10px; background-color: lavender;}
.auteur2 { width:10px;background-color: lavender; }
.derniermessage2 { width:250px;background-color: lavender; }

.titlebox{ width: 500 px; background-color: lavender;}
.autorbox{ width: 150px; background-color:rgb(243,250,223); float:left;}
.messagebox{width: 1000px; background-color:rgb(237,224,213); border:1px solid black;}
.footerbox{width:100%; background-color:white;}

.Annonce {width: 500px; background-color: blue;}
.nombremessagesAnnonce { width:150px; background-color: blue;}
.nombrevuAnnonce { width:10px; background-color:blue;}
.nombresujetsAnnonce { width:10px; background-color:blue; }
.auteurAnnonce { width:10px; background-color:blue;}
.derniermessageAnnonce { width:250px; background-color:blue;}
.categorieAnnonce { width:20px; background-color : blue; }

.Admin {width: 500px; background-color: red;}
.nombremessagesAdmin { width:150px; background-color: red;}
.nombrevuAdmin { width:10px; background-color:red;}
.nombresujetsAdmin { width:10px; background-color:red; }
.auteurAdmin { width:10px; background-color:red;}
.derniermessageAdmin { width:250px; background-color:red;}
.categorieAdmin { width:20px; background-color : red; }

td { border: 1px solid black; background-color: rgb(253,244,223); vertical-align:top; }
table { margin-left : 150px; background-color: rgb(237,224,213); border: 1px solid black; }
th { background-color: rgb(243,250,223); border: 1px solid black; }