html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #E4E4E4;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	overflow: hidden;
}


li {
	list-style: none;
}

/* STYLE BUTTON */
.button{
    text-decoration:none;
    background:#eee;
    border:1px solid #bbb;
    padding:5px 10px;
    margin:0px 10px 10px 0px;
    border-radius:6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    cursor:pointer;
    
    box-shadow:0px 2px 3px #aaa;
    -moz-box-shadow:0px 2px 3px #aaa;
    -webkit-box-shadow:0px 2px 3px #aaa;
    text-shadow:0px 1px 0px #fff;
    
	position: relative;
}
.button:hover{
	color:#000;
}

.button:visited{
	color: #727272;
}

.button:active{
	outline: none;
    box-shadow: none ;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
	
}
/* END BUTTON */

#content {
	width: 920px;
	height: 600px;
	background:  #E4E4E4;
}

#footer {
	width: 100%;
	height: 100px;
	background:#333;
	
	box-shadow:0px -2px 3px #aaa;
    -moz-box-shadow:0px -2px 3px #aaa;
    -webkit-box-shadow:0px -2px 3px #aaa;
}
