body
{
}
#main-content {
    padding-top:120px;
}

#connexion_right{
    border-right:1px solid #DDD;
    padding:20px 20px 20px 14px;
}



body, p, div, td, h1, h2, h3, h4, li {
	font-family: 'Happy Monkey', cursive,'Antic Slab', serif, 'Gudea', sans-serif;
	line-height: 1.5;
 }

.btn_get{
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	/* display: inline; */
	font-size: 12px;
	font-weight: bold;
	line-height: 4;
	text-align: center;
	}
 .btn_get:hover {
 	color: white;
 }
 .btn_get {
	background: #69b249;
	background: -moz-linear-gradient(top,  #86DF4C 0%,  #6AC42F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86DF4C), color-stop(100%, #6AC42F));
	background: -webkit-linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);
	background: -o-linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);
	background: -ms-linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);
	background: linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);
	border: 1px solid #5d8d59;
	border-bottom: 1px solid #777;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	color: #fff;
	display: inline-block;
	line-height: 1.5;
	margin: 0 10px 15px 0;
	padding: 5px 10px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	}

.btn_get:hover,
.btn_get:focus {
	background: #66b941;
	background: -moz-linear-gradient(top,  #66b941 0%, #3d8b27 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66b941), color-stop(100%,#3d8b27));
	background: -webkit-linear-gradient(top,  #66b941 0%,#3d8b27 100%);
	background: -o-linear-gradient(top,  #66b941 0%,#3d8b27 100%);
	background: -ms-linear-gradient(top,  #66b941 0%,#3d8b27 100%);
	background: linear-gradient(top,  #66b941 0%,#3d8b27 100%);
	text-decoration: none;
	}

.btn_get:active {
	background-color: #4a913a;
	background-image: none;
}

.mp_welcome-step {
	background: #86DF4C;
	background: -moz-linear-gradient(top,  #86DF4C 0%,  #6AC42F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#86DF4C), color-stop(100%, #6AC42F));
	background: -webkit-linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);
	background: -o-linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);
	background: -ms-linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);
	background: linear-gradient(top,  #86DF4C 0%, #6AC42F 100%);

    background: -moz-linear-gradient(center top , ,) repeat scroll 0 0 transparent;

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 1px #999999;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 30px;
}
.row-gray{
	background-color: #EBEBEB;
	padding: 50px 15px;
	border-radius: 10px;
}

.navbar ul{
	padding: 10px 0px 10px 0px;
	font-size: 15px;
}
.navbar ul a{
	position: relative;
}
.navbar ul a:hover{
	top: -2px;
}

hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

hr.soften_wm{
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.fb_button_connect{
	margin-right: 120px;
	margin: 0 auto;
	background: url('/public/images/fb_connect.png') no-repeat; height: 38px; width: 271px;
}
.fb_button_connect:hover{
	cursor: pointer;
	background: url('/public/images/fb_connect.png') no-repeat 0px -38px; height: 38px; width: 271px;
}

.fb_button_inscription{
	margin: 0 auto;
	background: url('/public/images/fb_inscription.png') no-repeat; height: 38px; width: 244px;
}
.fb_button_inscription:hover{
	cursor: pointer;
	background: url('/public/images/fb_inscription.png') no-repeat 0px -38px; height: 38px; width: 244px;
}

.bg_modal_separator{
	height:		180px;
	background: url("http://static.senscritique.net/theme/bg_or.png") no-repeat scroll center center transparent;
}

.contact-footer, .infos-footer{
	text-align: center;
}
.contact-content, .infos-content{
	border: 1px solid #BDBDBD;
	width: 832px;
	margin: 0 auto;
}
.contact-content form, .infos-content form{
	padding: 30px;
}
.contact-content h1, .infos-content h1{
	 color: #3B3B3B;
	 font-size: 28px;
	 font-style: normal;
	 font-weight: normal;
	 line-height: 30px;
	 margin-bottom: -20px;
	 text-align: center;
}

.c_clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

@font-face {
    font-family: Lobster;
    src: url(../fonts/Lobster.otf);
    font-weight: 0;
}

 h1.new_doc_title {
	font-family: Lobster;
}

ul.new_doc_type {
	margin-top: 50px;
	margin-left: 100px;
}
.new_doc_type li {
	list-style-image: url(../images/puce_melon.png);
	padding: 10px;
	margin-top: 10px;
}
.new_doc_type li input[type=radio]
{
	display: none;
}

.new_doc_type li label {
	display: inline;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	font-size: 25px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new_doc_type li label.selected {
	font-weight: bold;
	font-size: 28px;
}


.new_doc_type li p {
	text-align: justify;
}