body
{
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#main-content {
    padding-top:50px;
}

#connexion_right{
    border-right:1px solid #DDD;
    padding:20px 20px 20px 14px;
}