<script type="text/javascript">
 $(document).ready( function() {
    $('#tree2').fileTree({
	root: '',
	script: '/home/getList',
	folderEvent: 'click',
	expandSpeed: 0,
	collapseSpeed: 0,
	multiFolder: false
    }, function(file){});    
});
</script>

<div style="text-align: center;">
  <input type="texte" value="{{doc_name}}" id="doc_name_change"/>
  <a href="#" style="padding: 15px; border-radius: 0px 10px 10px 0px; margin-left: -4px;" class="btn_get" doc_id="{{doc_id}}" click="editor22:changeName">Sauvegarder</a>
</div>

<div id="ed_table_menu">
<table>
<tr><td class="inactive"></td><td class="inactive"></td></td><td class="inactive"></td></td><td class="inactive"></td></td></tr>
<tr><td class="inactive"></td></td><td class="inactive"></td></td><td class="inactive"></td></td><td class="inactive"></td></td></tr>
<tr><td class="inactive"></td></td><td class="inactive"></td></td><td class="inactive"></td></td><td class="inactive"></td></td></tr>
<tr><td class="inactive"></td></td><td class="inactive"></td></td><td class="inactive"></td></td><td class="inactive"></td></td></tr>
<caption align="bottom">[]</caption>
</table>
</div>
<div id="ed_main">
  <div id="ed_menu">
    <img class="ed_menu_icon draggable ed_switchable" alt="title" src="/public/images/ed_title.png" />
    <img class="ed_menu_icon draggable" alt="bullets" src="/public/images/ed_bullets.png" />
    <img class="ed_menu_icon draggable ed_switchable" alt="paragraph" src="/public/images/ed_paragraph.png" />
    <img class="ed_menu_icon draggable" alt="table" src="/public/images/ed_table.png" />
    <img onclick="ed_generateLatex();" class="ed_generate ed_menu_icon ed_switchable" alt="generate" src="/public/images/ed_view.png" />
    <img src="/public/images/separator.png" alt="bold" title="separator" />
    <img src="/public/images/bold.png" alt="bold" title="bold" style="font-weight:bold" onclick="document.execCommand('bold', false, '')" />
    <img src="/public/images/separator.png" alt="bold" title="separator" />
    <img src="/public/images/italic.png" alt="italic" title="italic" style="font-weight:italic" onclick="document.execCommand('italic', false, '')"/>
    <img src="/public/images/separator.png" alt="bold" title="separator" />
    <img src="/public/images/underline.png" alt="underline" title="underline" style="font-weight:underline" onclick="document.execCommand('underline', false, '')"/>
  </div>
  <div class="ed_popup"><div class="ed_frame"></div></div>
  <div id="ed_textzone">
    <div class="ed_documentarea offset1 span10">
      <div class="droppable">
      </div>
    </div>
    <img style="padding: 0px 10px 0px 10px" class="offset1 span10" src="/public/images/curved-drop-shadow.png" />
  </div>
	
</div>
<script type="text/javascript" src="/public/js/editor2.js"></script>
