<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>
   <title>
   		{%  if _lang.title is defined  %}
			{{  _lang.title  }}
		{% else %}
   			"MelonDoc"
   		{% endif %}
   </title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <script> /* Provisory for dev environment: */ localStorage.clear(); </script>
   {{  cssArray|raw  }}
   {{  jsArray|raw  }}
   <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
   </head>
<body>
{% if COUNTDOWN == 0 %}
 {% include 'header.html' %}
{% endif %}
<div class="container-fluid" id="main-content">
  <div class="row-fluid">
    {% include 'filesbar.html' %}
    <div>
    {%  if __error is defined %}
  	  <div class="alert alert-error">
  		  <a class="close" data-dismiss="alert" href="#">x</a>
  			  {{  __error|raw}}
  		</div>
  	{% elseif __success is defined %}
		  <div class="alert alert-success">
			  <a class="close" data-dismiss="alert" href="#">x</a>
			  {{  __success|raw}}
		  </div>
    {%  endif%}
