<div style="padding: 50px;">
	<video id="my_video_1" class="video-js vjs-default-skin vjs-paused" controls width="640" height="264" poster="/public/images/demo.png" data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }'>
	  <source src="/public/videos/demo.mp4" type='video/mp4'>
	  <source src="/public/videos/demo.webm" type='video/webm'>
	</video>
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
	<a class="span2 offset5 btn_get" data-toggle="modal" href="#modal_connexion">Pas encore inscrit ?</a>
</div>

<hr class="soften">
<div class="row row-gray">
	<div class="span4">
		<h3><span class="mp_welcome-step">1</span>Choisissez le type du document</h3><br/>
		Aenean eros justo, dignissim a rhoncus eu, fermentum eu nisl. Quisque tempor quam nec elit fringilla ultrices nec sed ipsum. Vestibulum in magna dolor, at gravida ipsum. Aenean vulputate volutpat molestie. Aliquam ullamcorper rhoncus purus at malesuada. Suspendisse convallis dignissim ligula, ac ullamcorper quam venenatis id. Quisque ultrices dignissim gravida.
	</div>
	<div class="span4">
		<h3><span class="mp_welcome-step">2</span>Choisissez votre template</h3><br/>
		Aenean eros justo, dignissim a rhoncus eu, fermentum eu nisl. Quisque tempor quam nec elit fringilla ultrices nec sed ipsum. Vestibulum in magna dolor, at gravida ipsum. Aenean vulputate volutpat molestie. Aliquam ullamcorper rhoncus purus at malesuada. Suspendisse convallis dignissim ligula, ac ullamcorper quam venenatis id. Quisque ultrices dignissim gravida.
	</div>
	<div class="span4">
		<h3><span class="mp_welcome-step">3</span>Editez votre document</h3><br/>
		Aenean eros justo, dignissim a rhoncus eu, fermentum eu nisl. Quisque tempor quam nec elit fringilla ultrices nec sed ipsum. Vestibulum in magna dolor, at gravida ipsum. Aenean vulputate volutpat molestie. Aliquam ullamcorper rhoncus purus at malesuada. Suspendisse convallis dignissim ligula, ac ullamcorper quam venenatis id. Quisque ultrices dignissim gravida.
	</div>
</div>
<hr class="soften">