<br/>
<h2 style="text-align: center; margin-top: 30px; margin-bottom: -20px; text-transform: uppercase;">{{info['topic_name']|raw}} </h2><br/>

<hr class="soften_wm">
<div style="text-align:center;">
  <a class="btn_get" href="/forum">Retour au forum</a>
  <a class="btn_get" href="/forum/voirForum?id={{info['forum_id']}}">Retour {{info['forum_name']}}</a>
</div>
<hr class="soften_wm">

{% for value in posts %}

{% if value['id'] is not empty  %}
<div name="{{value['id']}}" class="row" style="background: white;" mouseenter="forum:displayActions" mouseleave="forum:displayNoneActions">
<ul class="actions span10 offset2">
      {% if value['auteur'] == me or canModerate == true %}
        <li style=""><a href = "/forum/editPost?id={{value['id']}}" title="Editer"><i class="icon-pencil"></i> Editez</a></li>
        <li style="display: inline;"><a href = "/forum/deletePost?id={{value['id']}}" title="Supprimer"><i class="icon-trash"></i> Supprimer</a></li>
      {% endif %}
        <li style="display: inline;"><a href = "#" click="forum:quote" id="{{value['id']}}" author="{{value['author']}}" title="Citer"><i class="icon-share"></i> Citer</a></li>
</ul>
    <div class="span2">
      <div  id="{{value['id']}}"><h3><span class="mp_welcome-step">{{value['id']}}</span>{{value['auteur']}}</h3></div>
      <div class="datebox">{{value['date']}}</div>
    </div>
    <div class="span10">
      <div style="border:1px solid #BDBDBD; min-height: 80px;">
      <div class="messagebox">{{value['message']|raw}}</div>
      </div>
      <div>
        <img style="width: 970px;" src="/public/images/curved-drop-shadow.png" />
      </div>
    </div>
</div>
{% endif %}
{% endfor %}

{{next|raw}}

{% if canAnswer == true %}
<div class="row" style="background: white;">
  <form action="/forum/postAnswer?id={{info['topic_id']}}" method="POST">
    <div class="span2">
      <label for="answer"><h3>Repondre:</h3></label>
      <div style="padding: 20px;">
      <i class="icon-bold" click="forum:insert_text('[b]', '[/b]')"></i>
      <i class="icon-share" click="forum:insert_text('[quote]', '[/quote]')"></i>
      <i class="icon-italic" click="forum:insert_text('[i]', '[/i]')"></i>
      <i class="icon-font" click="forum:insert_text('[s]', '[/s]')"></i>
      <i class="icon-font" click="forum:insert_text('[u]', '[/u]')"></i>
      <i class="icon-picture" click="forum:insert_text('[img]', '[/img]')"></i>
      <i class="icon-font" click="forum:insert_text('[code]', '[/code]')"></i>
    </div></div>
    <div class="span10">
      <div style="border:1px solid #BDBDBD; ">
      <div class="messagebox">
        <textarea id="answer" name="answer" id="answer" rows="7" style="width: 920px; resize:vertical;" placeholder="Ecrire son message ..."></textarea>
      </div>
      </div>
      <div>
        <img style="width: 970px;" src="/public/images/curved-drop-shadow.png" />
      </div>
        <div style="text-align: center; width: 100%;" ><input type="submit" value="Envoyer le message" class="btn_get"></input></div>
    </div>
</form>
</div>





<!--<img src="/public/images/bold.gif" alt="gras" click="forum:insert_text('[b]', '[/b]')">
<img src="/public/images/quote.gif" alt="citation" click="forum:insert_text('[quote]', '[/quote]')">
<img src="/public/images/italic.gif" alt="italic" click="forum:insert_text('[i]', '[/i]')">
<img src="/public/images/strike.gif" alt="barre" click="forum:insert_text('[s]', '[/s]')">
<img src="/public/images/underline.gif" alt="souligner" click="forum:insert_text('[u]', '[/u]')">
<img src="/public/images/image.gif" alt="image" click="forum:insert_text('[img]', '[/img]')">
<img src="/public/images/code.gif" alt="image" click="forum:insert_text('[code=]', '[/code]')">-->
<br/> <br />
</div>
{% endif %}
<script>
$('pre.code').highlight({source:1, zebra:1, indent:'space', list:'ol'});
</script>
