#block_erreur
{
    margin: 100px auto;
    width: 400px;
    background:#b22222; color:#fff;
    border: solid #000 1px;
    font-size:16px;
}

#block_erreur h1
{
    padding:0 0 0 10px; margin:0;
    background:#8b0000;
    border-bottom: solid #000 1px;
    font-size:24px; font-style:italic;
}

#block_erreur p
{
    padding: 40px 0 0 140px;
    background: url("/public/images/interdit.png") no-repeat;
    color: white;
}

#block_erreur h2
{
    right: 0px;
    margin: 0; padding: 0;
    text-align: right;
    padding-right:5px;
    background:#8b0000;
    border-top: solid 1px #000;
}

#block_erreur h2 a
{
    padding-left: 20px;
    background: url("/public/images/arrow_left.png") no-repeat; color: white;
    text-decoration: none; font-size: 14px;
}

#block_erreur .help
{
    padding: 40px 0 0 140px;
    height: 65px;
    background: url("/public/images/help.png") no-repeat; color: white;
}