.tab {
	height: 5px;
	background: #333;

	border-bottom: 1px solid white;
	box-shadow: 0px 5px 5px #bbb;
	-moz-box-shadow: 0px 5px 5px #bbb;
	color: #727272;
}

.tab ul {
	z-index: 2;
	margin: 0px;
	padding: 5px 10px 0px 10px;
	
	background: #333;
	
	position: relative;
	height: 30px;
	float: right;
	
	right: 100px;
	top: 5px;
	
	text-align: center;
	background: #333;
	
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	
	border-radius: 0px 0px 6px 6px;
	-moz-border-radius: 0px 0px 6px 6px;
	
	box-shadow: 0px 5px 5px #bbb;
	-moz-box-shadow: 0px 5px 5px #bbb;
}

.tab ul li {
	position: relative;
	width: 100px;
	height: 20px;
	display: inline;
	color: #396;
	margin-top: 5px;
	padding: 5px 10px;
	font-size: 14px;
	background: #333;
}
.tab ul li .separator{
	border-left: 1px white solid;
	height: 90%;
}



#sidebar .content h3{
	color: #396;
	line-height: 0.9;
}

#sidebar .content {
	color: #272727;
	position: relative;
	top: 0;
	overflow: hidden;
	text-align: left;
	width: 960px;
	margin: 0 auto;
	font-size: 0.85em;
}
#sidebar {
	margin-right: auto;
	margin-top: auto;
	width: 100%;
	background: #333;
	position: relative;
	top: 0;
	z-index: 100;
}


#sidebar a.close {
	display: none;
	color: #396;
}
#sidebar a.open {
	display: inline;
	color: #FA6E1E;
}
#sidebar a{
	position: relative;
	text-decoration: none;
	color: #396;
}
#sidebar a:hover {
	color: #88D2AD;
}

#sidebar .content li{
	color: #272727;
}


/* LOGIN / INSCRIPTION */

#sidebar .bloc{
	float: left;
	color: white;
	font-size: 10px;
}
#sidebar .bloc.left{
	border-left: 1px solid #CCC
}
#sidebar .bloc.right{
	border-right: 1px solid #CCC
}

#sidebar .bloc h3{
	font-size: 14px;
}

#sidebar input{
	border: none;
	padding: 4px;
	
	border-radius: 6px;
	-moz-border-radius: 6px;
}
