.tab {
	height: 10px;
	background: #272727;
	border-bottom: 2px white solid;
}
.tab li {
	width: 100px;
	height: 25px;
	display: inline;
	padding: 10px;
	background: #272727;
}
.tab ul {
	padding: 0px 10px 0px 10px;
	height: 30px;
	margin: 0px;
	color: white;
	float: right;
	clear: right;
	position: relative;
	right: 150px;
	text-align: center;
	top: 10px;
	background: #272727;
	-moz-border-radius: 0px 0px 10px 10px;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
}
#content {
	background: #272727;
	width: 100%;
	position: relative;
	top: 0;
	overflow: hidden;
	text-align: left;
	height: 100px;
}
.tab .close {
	display: none;
}
.tab .open {
	display: inline;
	color: #AF3002;
}
#sidebar {
	margin-right: auto;
	margin-top: auto;
	width: 100%;
	position: absolute;
	top: 0;
}
li .left {
	background: red;
	border: 1px solid red;
	-moz-border-radius: 0px 0px 10px 10px;
	width: 2px;
}
li .right {
	background: red;
	border: 1px solid red;
	-moz-border-radius: 0px 0px 10px 10px;
	width: 2px;
}

#sidebar a{
	color: white;
	text-decoration: none;
}

#sidebar a:hover {
	color: #FFAD1F;
}

#content li{
	color: white;
}
