<br/><br/>
<div class="infos-content">
  <form method="POST" class="form-horizontal" action="/home/index" style="margin: 0px auto;">
    <h1>Mes informations</h1>
    <hr class="soften">
    <div class="control-group">
      <div class="controls">
        <input type="text" name="form_firstname" value="{{infos.firstname}}" placeholder="{{_lang.header_firstname}}" class="span5"/><br />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="text" name="form_lastname" value="{{infos.lastname}}" placeholder="{{_lang.header_lastname}}" class="span5"/><br />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="text" name="form_email" value="{{infos.mail}}" placeholder="{{_lang.header_email}}" class="span5"/><br />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="password" name="form_mdp" placeholder="{{_lang.header_password}}" class="span5"/><br />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="password" name="form_mdp2" placeholder="{{_lang.header_verif_password}}" class="span5"/><br /> 
      </div>
    </div>
    <div style="text-align: center; padding: 30px;">
      <input type="submit" class="btn_get" value="Enregistrer les modifications"/>
    </div>
  </form>
</div>
<div class="infos-footer">
  <img src="/public/images/curved-drop-shadow.png" />
</div>