<form method="POST" class="form-stacked" action="/home/index">
  <div class="control-group">
    <label class="control-label" for="form_firstname">{{_lang.header_firstname}} :</label>
    <div class="controls">
      <input type="text" name="form_firstname" value="{{infos.firstname}}"/><br />
      <span class="help-inline hide">{{_lang.firstname_invalid}}</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="form_lastname">{{_lang.header_lastname}} :</label>
    <div class="controls">
      <input type="text" name="form_lastname" value="{{infos.lastname}}"/><br />
      <span class="help-inline hide">{{_lang.lastname_invalid}}</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="form_email">{{_lang.header_email}} :</label>
    <div class="controls">
      <input type="text" name="form_email" value="{{infos.mail}}"/><br />
      <span class="help-inline hide">{{_lang.email_invalid}}</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="form_mdp">{{_lang.header_password}}</label>
    <div class="controls">
      <input type="password" name="form_mdp"/><br />
      <span class="help-inline hide">{{_lang.password_invalid}}</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="form_mdp2">{{_lang.header_verif_password}}</label>
    <div class="controls">
      <input type="password" name="form_mdp2" /><br />
      <span class="help-inline hide">{{_lang.password_invalid}}</span>
    </div>
  </div>
  <input type="submit" class="btn-primary" value="{{_lang.header_inscription}}"/>
</form>
