Vous etes ici : <a href="/forum/">Index</a> > <a href="/forum/voirForum?id={{infos['forum_id']}}">{{infos['forum_name']}}</a> > <a href="/forum/viewTopic?id={{infos['topic_id']}}">{{infos['topic_name']}}</a> > <strong> Editer mon message </strong>

<form action = "/forum/DoEditPost?id={{post['id']}}" method = "POST">
	<img src="/public/images/bold.gif" alt="gras" click="forum:insert_text('[b]', '[/b]')">
<img src="/public/images/quote.gif" alt="citation" click="forum:insert_text('[quote]', '[/quote]')">
<img src="/public/images/italic.gif" alt="italic" click="forum:insert_text('[i]', '[/i]')">
<img src="/public/images/strike.gif" alt="barre" click="forum:insert_text('[s]', '[/s]')">
<img src="/public/images/underline.gif" alt="souligner" click="forum:insert_text('[u]', '[/u]')">
<img src="/public/images/image.gif" alt="image" click="forum:insert_text('[img]', '[/img]')">
<br />
<table>
<tr>

<td><textarea name="answer" rows = 10 cols = 80>
{{post['message']|raw}}
</textarea>
</td>
</tr>
<tr>
<td><input type="submit" value = "modifier"></td>
</tr>
</table> 
</form>