<br/>
<h2 style="text-align: center; margin-top: 30px; margin-bottom: -20px; text-transform: uppercase;">Forum</h2><br/>
<hr class="soften">

{% set cat = 0 %}

<table class="span12">

	{% for data in ret.rows %}
		{%  if data.name_forum is not empty %}
	
{% if cat != data.id_categorie %}
    <tr class="categorie"><th>{{ data.name_cat }}</th></tr>


	<tr>
    	<td>
    		<strong>Forum</strong>
    	</td>             
        <td style="text-align: center;">
        	<strong>Sujets</strong>
        </td>
        <td style="text-align: center;">
        	<strong>Messages</strong>
        </td>
        <td style="text-align: center;">
        	<strong>Dernier message</strong>
        </td>
    </tr>

    {% set cat = data.id_categorie %}
	
{% endif %}
	<tr>
		<td class="titre">
			<strong>
				<a href='/forum/voirForum?id={{data.id_forum1}}'>{{ data.name_forum }}</a>
			</strong>
			<br/>
			{{ data.desc }}  
      	{% if data.moderators is not empty %}
        	<br/>
        	<i>
        		Moderateurs :"
        		// FAIRE LES LIENS MODO
        	</i>
        {% endif %}
    	</td>

    	<td style="text-align: center;">
    		{{ data.nb_topics }}
    	</td>

    	<td style="text-align: center;">
    		{{ data.nb_reponses }}
    	</td>

    	<td style="text-align: center;">
    		<a href="/forum/viewTopic?id={{ data.id_topic1 }}&amp;post={{ data.last_post}}">Dernier message</a>
    	</td>
    </tr>
      {% endif %}
    {% endfor %}
</table>

<div style="row">

<strong>powered by TaiTaiBB</strong>

<div style="float: right">
<a href="/adminForum/" class="btn_get"><i class="icon-cog"></i> Administration</a>
</div>
</div>