{% if viewModerator == true %}
	<a href="/forum/moderate?id={{infos['id']}}" class="btn btn-small"><i class="icon-cog"></i> Moderer</a>
{% endif %}
<br/><br/>
<ul class="breadcrumb">
	<li>
    	<a href="/forum">Index</a> <span class="divider">/</span>
    </li>
    <li class="active">
    	<a href="/forum/voirForum?id={{infos['id']}}">{{infos['name']}}</a> <span class="divider">/</span>
    </li>
</ul>
<br /><br />
{{linkCreate|raw}}
<table>
<tr>
<th> </th>
<th class = "titre">Titre du topic</th>
<th class = "nombremessages">createur</th>
<th class = "nombremessages">nombre de reponses</th>
<th class = "nombremessages">nombre de vues</th>
<th class = "derniermessage">dernier message</th></tr>

{% for value in topics.rows %}


{% if value.id is not empty %}
<tr>
{% if (value.genre == "annonce") %}
<td>
	{% if (value['lock'] == 1) %}
	locked 
	{% endif %}
</td>
<td class = "annonce">Annonce : <a href="/forum/viewTopic?id={{value['id']}}"><strong>{{value['name']|raw}}</a></strong></td>
<td class = "nombremessagesAnnonce">{{value['creator']}} totot</td>
<td class = "nombremessagesAnnonce">{{value['reponses']}}</td>
<td class = "nombremessagesAnnonce">{{value['views']}}</td>
<td class = "derniermessageAnnonce"><a href = "/forum/viewTopic?id={{value['id']}}&amp;post={{value['id_last_post']}}">last message</a><br />
at {{value['date']}}</td>
{% elseif (value['genre'] == "admin") %}
<td>
	{% if (value['lock'] == 1) %}
	locked 
	{% endif %}
</td>
<td class = "Admin">Admin : <a href="/forum/viewTopic?id={{value['id']}}"><strong>{{value['name']|raw}}</a></strong></td>
<td class = "nombremessagesAdmin">{{value['creator']}}</td>
<td class = "nombremessagesAdmin">{{value['reponses']}}</td>
<td class = "nombremessagesAdmin">{{value['views']}}</td>
<td class = "derniermessageAdmin"><a href = "/forum/viewTopic?id={{value['id']}}&amp;post={{value['id_last_post']}}">last message</a><br />
at {{value['date']}}</td>
{% else %}
<td>
	{% if (value['lock'] == 1) %}
	locked 
	{% endif %}
</td>
<td class = "titre"><a href="/forum/viewTopic?id={{value['id']}}"><strong>{{value['name']|raw}}</a></strong></td>

<td class = "nombremessages">{{value['creator']}}</td>
<td class = "nombremessages">{{value['reponses']}}</td>
<td class = "nombremessages">{{value['views']}}</td>
<td class = "derniermessage"><a href = "/forum/viewTopic?id={{value['id']}}&amp;post={{value['id_last_post']}}">last message</a><br />
at {{value['date']}}</td>
{% endif %}
</tr>
{% endif %}
{% endfor %}
</table>
