<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">
      <img src="/public/images/logo.png" width="100"/>
	<!--{%  if _lang.project_name is defined  %}
	{{ _lang.project_name }}
	{% else %}
	MelonDoc
	{%  endif  %}-->
      </a>
      <div class="pull-right">
	<ul class="nav">
	  <li><a href="/" title="{{_lang.header_index}}">{{_lang.header_index}}</a></li>
	  {% if isLogged %}
	  <li><a href="/home/index" title="{{_lang.header_account}}">{{_lang.header_account}}</a></li>
	  {% endif %}
	  <li><a href="/user/contact" title="{{_lang.header_contact}}">{{_lang.header_contact}}</a></li>
	  <li><a href="/forum" title="{{_lang.header_forum}}">{{_lang.header_forum}}</a></li>
	  {% if isLogged %}
	  <li><a href="/user/deconnexion" title="{{_lang.header_deconnexion}}">{{_lang.header_deconnexion}}</a></li>
	  {% else %}
	  <li><a href="#modal_connexion" data-toggle="modal" title="{{_lang.header_connexion_inscription}}">{{_lang.header_connexion_inscription}}</a></li>
	  {% endif %}
	  <li><a href="http://www.facebook.fr" target="_blanck" title="Facebook"><img src="/public/images/logo-facebook.jpg" width="20"/></a></li>
	  <li><a href="http://www.twitter.fr" target="_blanck" title="Twitter"><img src="/public/images/logo-twitter.jpg" width="20"/></a></li>
	</ul>
      </div>
    </div>
  </div>
</div>


<!-- modal de connexion / inscription -->
<div class="modal hide fade" id="modal_connexion">
  <div class="modal-body">
    <a class="close" data-dismiss="modal">×</a>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab_connexion" data-toggle="tab">{{_lang.header_connexion}}</a></li>
      <li><a href="#tab_inscription" data-toggle="tab">{{_lang.header_inscription}}</a></li>
    </ul>
    <div class="tab-content">
      <!-- connexion -->
      <div class="tab-pane active" id="tab_connexion">
      <div class="row">
	    <div class="span3" style="padding-top: 65px; padding-left: 20px;">
	    	<a class="" href="#" title="{{_lang.header_facebook}}">
	    		<div class="fb_button_connect"></div>
		     </a>
		</div>
		<div class="span1 bg_modal_separator"></div>
	  <div class="span3" style="padding-top: 20px;">
	      <form method="POST" class="form-stacked" action="/user/connexion">
		<div class="control-group">
		  <div class="controls">
		    <input type="text" name="email" placeholder="{{_lang.header_email}} / {{_lang.header_login}}"/><br />
		    <span class="help-inline hide">{{_lang.email_invalid}}</span>
		  </div>
		</div>
		<div class="control-group">
		  <div class="controls">
		    <input type="password" name="password" placeholder="{{_lang.header_password}}"/><br />
		    <span class="help-inline hide">{{_lang.password_invalid}}</span>
		  </div>
		</div>
		<input type="submit" class="btn_get" value="{{_lang.header_connexion}}"/>
	      </form>
	    </div>
      </div>
      </div>
      <!-- inscription -->
      <div class="tab-pane" id="tab_inscription">
      <div class="row">

	    <div class="span3" style="padding-top: 65px; padding-left: 20px;">
	    	<a class="" href="#" title="{{_lang.header_facebook}}">
	    		<div class="fb_button_inscription"></div>
		     </a>
		</div>
		<div class="span1 bg_modal_separator"></div>
		<div class="span3" style="padding-top: 20px;">
		<form method="POST" class="form-stacked" action="/user/inscription">
	  <div class="control-group">
	    <div class="controls">
	      <input type="text" name="form_login" placeholder="{{_lang.header_login}}"/><br />
	      <span class="help-inline hide">{{_lang.login_invalid}}</span>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <input type="text" name="form_email" placeholder="{{_lang.header_email}}"/><br />
	      <span class="help-inline hide">{{_lang.email_invalid}}</span>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <input type="password" name="form_mdp" placeholder="{{_lang.header_password}}"/><br />
	      <span class="help-inline hide">{{_lang.password_invalid}}</span>
	    </div>
	  </div>
	  <div class="control-group">
	    <div class="controls">
	      <input type="password" name="form_mdp2" placeholder="{{_lang.header_verif_password}}"/><br />
	      <span class="help-inline hide">{{_lang.password_invalid}}</span>
	    </div>
	  </div>
	  <input type="submit" class="btn_get" value="{{_lang.header_inscription}}"/>
	</form>
	</div>
      </div>
      </div>
    </div>
  </div>
</div>
  
