{% if noDocuments is defined %}
<span class="label">{{noDocuments}}</span>
{% else %}
<form method="POST" action="/home/deleteDoc" id="delete_doc"/>
<a href="#modal_new" class="btn btn-primary" data-toggle="modal">{{_lang.home_doc_create}}</a>
{% endif %}
<div id="modal_new" class="modal hide fade in">
  <div class="modal-header">
    <h2>{{_lang.header_create_new}}</h2>
  </div>
  <div class="modal-body">
    {% if noCategories is defined %}
    {% for key, temp in categorie %}

    <!-- ICI DES VISUELS POUR LES DIFFERENTS TYPE DE FICHIERS -->
    <a href="/home/new?type={{temp.id_category}}"><img src="/public/images/{{temp.avatar}}" alt="{{temp.description}}" /></a>

    {% endfor %}
    {% else %}
    {{noTemplates}}
    {% endif %}
  </div>
</div>
