<form id="inscription" action="/index">
	<input type="text" name="lastname" value="Gahon"/>
	<input focusin="module:action" type="text" name="firstname" value="Alexis"/>
	<textarea ></textarea>
	<input type="checkbox" click="forum:checkboxAll"/>
	<input type="checkbox" />
	<input type="checkbox" />
	<input type="checkbox" />
	<input type="button" value="Ceci est un button de merde pour le truc a single" />
</form>

<div style="text-align: center; padding: 50px;">

<video id="my_video_1" class="video-js vjs-default-skin vjs-paused" controls width="640" height="264" poster="/public/images/demo.png" data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }'>
  <source src="/public/videos/demo.mp4" type='video/mp4'>
  <source src="/public/videos/demo.webm" type='video/webm'>
</video>
</div>

<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
	<button class="span3 offset6">Essayer maintenant</button>
</div>

<div class="row">
	<div class="span2 offset3">
		Aenean eros justo, dignissim a rhoncus eu, fermentum eu nisl. Quisque tempor quam nec elit fringilla ultrices nec sed ipsum. Vestibulum in magna dolor, at gravida ipsum. Aenean vulputate volutpat molestie. Aliquam ullamcorper rhoncus purus at malesuada. Suspendisse convallis dignissim ligula, ac ullamcorper quam venenatis id. Quisque ultrices dignissim gravida.
	</div>
	<div class="span2 offset1">
		Aenean eros justo, dignissim a rhoncus eu, fermentum eu nisl. Quisque tempor quam nec elit fringilla ultrices nec sed ipsum. Vestibulum in magna dolor, at gravida ipsum. Aenean vulputate volutpat molestie. Aliquam ullamcorper rhoncus purus at malesuada. Suspendisse convallis dignissim ligula, ac ullamcorper quam venenatis id. Quisque ultrices dignissim gravida.
	</div>
	<div class="span2 offset1">
		Aenean eros justo, dignissim a rhoncus eu, fermentum eu nisl. Quisque tempor quam nec elit fringilla ultrices nec sed ipsum. Vestibulum in magna dolor, at gravida ipsum. Aenean vulputate volutpat molestie. Aliquam ullamcorper rhoncus purus at malesuada. Suspendisse convallis dignissim ligula, ac ullamcorper quam venenatis id. Quisque ultrices dignissim gravida.
	</div>
</div>

<div class="row-fluid">
	<div class="row">
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
	</div>
	<div class="row" style="margin-top: 20px;">
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
		<div class="span3">
			<img class="thumbnail" src="http://twitter.github.com/bootstrap/assets/img/example-sites/fleetio.png">
		</div>
	</div>
</div>