<div style="padding: 50px; text-align: center;">
	<!--<video id="my_video_1" class="video-js vjs-default-skin vjs-paused" controls width="640" height="264" poster="/public/images/demo.png" data-setup='{ "controls": true, "autoplay": false, "preload": "auto" }'>
	  <source src="/public/videos/demo.mp4" type='video/mp4'>
	  <source src="/public/videos/demo.webm" type='video/webm'>
	</video>-->
	<img width="550" src="/public/images/soon.png" />
</div>


<div class="row">
	<div class="span10 offset1" style="font-size: 18px; font-family: Lobster;">
MelonDoc est un projet cree par des eleves de l'ecole d'<a href="http://www.epitech.eu" title="Epitech">Epitech</a> en
troisieme annee. Ce projet a pour but de creer une plateforme Web vous permettant de realiser
des documents sous le format PDF en utilisant la technologie LaTeX. Plus simplement, vous pourrez
creer vos CV, lettres, ... avec des modeles fais au prealable qui se chargeront de faire toutes la mise
en forme de votre document. C'est simple, c'est pratique, c'est presque indispensable ... Nous dirons
meme plus, c’est une revolution ! Une revolution contre la mise en forme compliquee et couteuse en
temps !
	</div>
</div>

<hr class="soften">
<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
	<a style="font-size: 18px;" class="span4 offset4 btn_get" data-toggle="modal" href="#modal_connexion">Pas encore inscrit ?</a>
</div>
<hr class="soften">

<div class="row row-gray">
	<div class="span10 offset1">
		<h2 style="font-family: Lobster;"><span class="mp_welcome-step">1</span>Choisissez le type du document</h2><br/>
		Pour choisir un type de document, cliquez sur l'onglet fichier se trouvant en haut a gauche de
		votre ecran. Puis cliquez sur "Nouveau". Vous arriverez a un ecran qui vous proposera le type de
		document que vous souhaitez realiser. Choisissez celui qui vous convient, cliquez dessus et validez en
		appuyant sur "C'est partie !"
	</div>
	<div class="span10"><br/><br/></div>
	<div class="span10 offset1">
		<h2 style="font-family: Lobster;"><span class="mp_welcome-step">2</span>Redigez votre document</h2><br/>
		Vous etes arrive sur notre editeur, tapez le nom du document dans la zone de texte prevu a cet
		effet pour que vous puissiez retrouver facilement votre document. Maintenant il vous suffit de
		cliquer sur les elements à droite de votre ecran et, tout en gardant votre pression sur le bouton
		de votre souris, vous deplacez votre curseur sur une des barres qui apparaissent au centre de
		votre ecran. Lorsque vous relacherez, vous aurez cree une zone. Parmi ces zones il y a les titres, les
		tableaux, les listes a puces et les paragraphes. Pour pouvoir, ecrire dans les tableaux et les listes a
		puces, vous devrez mettre un paragraphe à l'interieur de la meme facon que precedemment. Vous
		avez egalement la possibilite de mettre en gras, de souligner ou de mettre en italique votre texte.
		Pour cela selectionnez simplement une zone de texte et appuyez sur les boutons B, I, S situe a droite
		de votre ecran. Une fois votre travail termine, vous pouvez le sauvegarder en cliquant sur le bouton sauvegarder.
	</div>
	<div class="span10"><br/><br/></div>
	<div class="span10 offset1">
		<h2 style="font-family: Lobster;"><span class="mp_welcome-step">3</span>Telechargez votre document</h2><br/>
		Voici la derniere etape, retournez a l'accueil et recliquez sur le bouton "Fichiers" a gauche de
		votre ecran. Puis cliquez sur la categorie du document que vous souhaitez telecharger et selectionner
		votre document. Appuyez sur le bouton "telecharger !" et la une fenetre s'ouvrira vous proposant
		d'appliquer un modele a votre document. Choisissez celui qui vous plait, et enregistrez votre fichier.
		Vous voila avec un fichier PDF tout propre et mis en forme. Facile n'est-ce pas ?
	</div>
</div>
<hr class="soften">