Vous etes ici : <a href="/forum">Index</a> > <a href="/forum/voirForum?id={{info['forum_id']}}">{{info['forum_name']}} </a> > <a href="/forum/viewTopic?id={{info['topic_id']}}">{{info['topic_name']|raw}}</a> >  <strong> voir le sujet</strong>
<br />
<h1> {{info['topic_name']|raw}} </h1>

<table>
{% for value in posts %}

{% if value['id'] is not empty  %}
<td id="{{value['id']}}">{{value['id']}} | {{value['auteur']}}</td>
<td class = "titlebox">{{value['date']}} 

	
	<span style = "float : right;"><div class="btn-group"></span>
          <a class="btn btn-primary" href="#"><i class="icon-cog icon-white"></i> Action</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
          	{% if value['auteur'] == me or canModerate == true %}
            <li><a href = "/forum/editPost?id={{value['id']}}"><i class="icon-pencil"></i> Editer</a></li>
            <li><a href = "/forum/deletePost?id={{value['id']}}"><i class="icon-trash"></i> Supprimer</a></li>
            {% endif %}
            <li><a href = "#" click="forum:quote('{{value['message']}}', '{{value['auteur']}}')"><i class="icon-share"></i> Citer</a></li>
          </ul>
        </div>
	
</td>
</tr>
<tr>
<td class = "autorbox">jsuis pas un pd</td>
<td class = "messagebox">{{value['message']|raw}}</td></tr>
{% endif %}
{% endfor %}
</table>	

{% if canAnswer == true %}
<form action="/forum/postAnswer?id={{info['topic_id']}}" method="POST">
<label for="answer"> Poster une reponse:</label> 
<img src="/public/images/bold.gif" alt="gras" click="forum:insert_text('[b]', '[/b]')">
<img src="/public/images/quote.gif" alt="citation" click="forum:insert_text('[q]', '[/q]')">
<img src="/public/images/italic.gif" alt="italic" click="forum:insert_text('[i]', '[/i]')">
<img src="/public/images/strike.gif" alt="barre" click="forum:insert_text('[s]', '[/s]')">
<img src="/public/images/underline.gif" alt="souligner" click="forum:insert_text('[u]', '[/u]')">

<br>
<textarea id="answer" name="answer" id="answer"> </textarea> <br />
<input type="submit" value="Envoyer"></input>
</form>
{% endif %}
<div style="text-align:center;">{{next|raw}}</div>
